
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.background-container {
  background-image: url('https://cdn.pixabay.com/photo/2018/06/27/17/48/fantasy-3502188_1280.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la página */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 800px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Agrega un fondo semi-transparente al contenido para mejor legibilidad */
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #f0f0f0;
  background-size: cover;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #07f8c4;
  color: rgb(15, 15, 15);
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

button {
  padding: 8px 16px;
  background-color: #d32e22;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #161615;

}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff4500;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #ff6600;
}
