<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span>Material UI Tutorial</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-button>Home</button>
  <button [matMenuTriggerFor]="lvl1master" mat-button>Master</button>
  <mat-menu #lvl1master="matMenu">
    <button [matMenuTriggerFor]="company" mat-menu-item>Company</button>
    <button [matMenuTriggerFor]="customer" mat-menu-item>Customer</button>
    <button [matMenuTriggerFor]="product" mat-menu-item>Product</button>
  </mat-menu>

  <mat-menu #company="matMenu">
    <button mat-menu-item>Term</button>
    <button mat-menu-item>Tax</button>
    <button mat-menu-item>Currency</button>
  </mat-menu>
  <mat-menu #customer="matMenu">
    <button mat-menu-item>Type</button>
    <button mat-menu-item>Tax</button>
  </mat-menu>
  <mat-menu #product="matMenu">
    <button mat-menu-item>Category</button>
    <button [matMenuTriggerFor]="variant" mat-menu-item>Variant</button>
    <button mat-menu-item>UOM</button>
  </mat-menu>

  <mat-menu #variant="matMenu">
    <button mat-menu-item>Color</button>
    <button mat-menu-item>Size</button>
  </mat-menu>

  <button routerLink="input" mat-button>Input</button>
  <button routerLink="autocomplete" mat-button>Autocomplete</button>
  <div class="form-inline">
    <form>
      <button *ngIf="!isLogged" mat-flat-button color="accent" routerLink="/login" class="form-button">
        <mat-icon>login</mat-icon>
        Iniciar Sesión
      </button>
      <button *ngIf="isLogged" mat-flat-button color="warn" (click)="onLogOut()" class="form-button">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar Sesión
      </button>
    </form>
  </div>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button routerLink="card" mat-button>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="" mat-button>
          <mat-icon>home</mat-icon>
          Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/list-itineraries" mat-button>
          <mat-icon>explore</mat-icon>
          itineraries
        </button>

      </mat-list-item>
      <mat-list-item>
        <button routerLink="/flights" mat-button>
          <mat-icon>table</mat-icon>
          Flights
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/export-data" mat-button>
          <mat-icon>settings</mat-icon>
          Export-Data
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/list-users" mat-button>
          <mat-icon>help</mat-icon>
          Users
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon>analytics</mat-icon>
          analytics
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="text-align: center;min-height: 500px;">
      <div class="container">
        <input (change)="selectedFile($event)" type="file">
        <button (click)="uploadFile()" class="btn" mat-raised-button color="primary">Upload</button>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>



