<app-loading *ngIf="loading"></app-loading>

<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span> PACIFIC ADVENTURES</span>
  <span class="example-spacer"></span>
  <button mat-button>Home</button>
  <button [matMenuTriggerFor]="lvl1master" mat-button>Master</button>
  <mat-menu #lvl1master="matMenu">
    <button [matMenuTriggerFor]="company" mat-menu-item>Company</button>
    <button [matMenuTriggerFor]="customer" mat-menu-item>Customer</button>
    <button [matMenuTriggerFor]="product" mat-menu-item>Product</button>
  </mat-menu>

  <mat-menu #company="matMenu">
    <button mat-menu-item>Term</button>
    <button mat-menu-item>Tax</button>
    <button mat-menu-item>Currency</button>
  </mat-menu>
  <mat-menu #customer="matMenu">
    <button mat-menu-item>Type</button>
    <button mat-menu-item>Tax</button>
  </mat-menu>
  <mat-menu #product="matMenu">
    <button mat-menu-item>Category</button>
    <button [matMenuTriggerFor]="variant" mat-menu-item>Variant</button>
    <button mat-menu-item>UOM</button>
  </mat-menu>

  <mat-menu #variant="matMenu">
    <button mat-menu-item>Color</button>
    <button mat-menu-item>Size</button>
  </mat-menu>

  <button mat-button>Input</button>
  <button mat-button>Autocomplete</button>
  <div class="form-inline">
    <form>
      <button *ngIf="!isLogged" mat-flat-button color="accent" routerLink="/login" class="form-button">
        <mat-icon>login</mat-icon>
        Iniciar Sesión
      </button>
      <button *ngIf="isLogged" mat-flat-button color="warn" (click)="onLogOut()" class="form-button">
        <mat-icon>exit_to_app</mat-icon>
        Cerrar Sesión
      </button>
    </form>
  </div>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side" position="start">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon>home</mat-icon>
          Home
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/list-itineraries" mat-button>
          <mat-icon>explore</mat-icon>
          Itinerarios
        </button>

      </mat-list-item>
      <mat-list-item>
        <button routerLink="/flights" mat-button>
          <mat-icon>table</mat-icon>
          Vuelos
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/export-data" mat-button>
          <mat-icon>settings</mat-icon>
          Export-Data
        </button>
      </mat-list-item>
      <mat-list-item>
        <button routerLink="/list-users" mat-button>
          <mat-icon>help</mat-icon>
          Usuarios
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>
          <mat-icon>analytics</mat-icon>
          analytics
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  // CONTENT ...

  <mat-drawer-content *ngIf="!loading">
    <div style="text-align: center;min-height: 500px; margin-left: 20px; margin-right: 20px; margin-top: 40px; ">

      <div class="filter-form">
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="priceMin" placeholder="Min Price"
                 (ngModelChange)="validateInputs()">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" [(ngModel)]="priceMax" placeholder="Max Price"
                 (ngModelChange)="validateInputs()">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="filterFlights()" [disabled]="!isInputsValid">Filter</button>
        <button mat-raised-button color="primary" (click)="clearInputs()">Clear</button>
      </div>

      <!-- update-flight.component.html -->
      <!--

              <button mat-raised-button color="primary" (click)="exportFlightsData()">Export EXCEL </button> &lt;!&ndash; Agrega el botón de exportar &ndash;&gt;
              <button mat-raised-button color="primary" (click)="exportFlightsDataPdf()">Export PDF</button>
      -->

      <div class="boton">

        <button mat-raised-button color="primary" (click)="openExportDialog()">EXPORT DATA !</button>

      </div>

      <div class="table-container">
        <table class="custom-table">
          <thead>
          <tr>
            <th>ID</th>
            <th>Capacidad</th>
            <th>Duración</th>
            <th>Precio</th>
            <th>Hora de Salida</th>
            <th>Llegada</th>
            <th>Salida</th>
            <th>Ciudad de Origen</th>
            <th>País de Origen</th>
            <th>Aeropuerto de Origen</th>
            <th>Ciudad de Destino</th>
            <th>País de Destino</th>
            <th>Aeropuerto de Destino</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let flight of flights">
            <td>{{ flight.id }}</td>
            <td>{{ flight.capacity }}</td>
            <td>{{ flight.duration }}</td>
            <td>{{ flight.price }}</td>
            <td>{{ flight.departureTime }}</td>
            <td>{{ flight.itinerary.arrivalDate }}</td>
            <td>{{ flight.itinerary.departureDate }}</td>
            <td>{{ flight.itinerary.origin.city }}</td>
            <td>{{ flight.itinerary.origin.country }}</td>
            <td>{{ flight.itinerary.origin.airport }}</td>
            <td>{{ flight.itinerary.location.city }}</td>
            <td>{{ flight.itinerary.location.country }}</td>
            <td>{{ flight.itinerary.location.airport }}</td>
          </tr>
          </tbody>
        </table>
      </div>


      <div class="paginator">
        <!-- Botón o enlace para volver al principio -->
        <button mat-icon-button (click)="goToFirstPage()" [disabled]="currentPage === 0">
          <mat-icon>first_page</mat-icon>
        </button>

        <mat-paginator
          [pageIndex]="currentPage"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          [length]="totalElements"
          (page)="onPageChangeFlights($event)"
        ></mat-paginator>

        <!-- Botón o enlace para ir al último elemento -->
        <button mat-icon-button (click)="goToLastPage()" [disabled]="currentPage === totalPages - 1 || lastPage">
          <mat-icon>last_page</mat-icon>
        </button>
      </div>



    </div>
  </mat-drawer-content>
</mat-drawer-container>




