<!--<div class="container d-flex justify-content-center">
  <form>
    <div class="mb-3">
      <label  class="form-label">Introducir Importe</label>
      <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="amount">
    </div>
  </form>
</div>

<div class="container d-flex justify-content-center" *ngIf="amount > 0">
  <ngx-braintree
    [getClientToken]="getClientToken.bind(this)"
    [createPurchase]="checkout.bind(this)"
    [chargeAmount]="amount"
    (paymentStatus)="onPaymentStatus($event)"
    [buttonText]="'Enviar'">
  </ngx-braintree>
</div>-->




<app-loading *ngIf="loading"></app-loading>

<section class=payment *ngIf="!loading">

  <div class="container">
    <div class="payment-form">
      <form>
        <div class="mb-3">
          <label class="form-label">Introducir Importe</label>
          <input type="number" class="form-control" id="amount" name="amount" [(ngModel)]="amount">
        </div>
      </form>
      <div *ngIf="amount > 0">
        <ngx-braintree
          [getClientToken]="getClientToken.bind(this)"
          [createPurchase]="checkout.bind(this)"
          [chargeAmount]="amount"
          (paymentStatus)="onPaymentStatus($event)"
          [buttonText]="'Enviar'">
        </ngx-braintree>
      </div>
    </div>
  </div>
</section>

