<app-menu></app-menu>


<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>

  <!-- Required styles for Material Web -->
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

  <!-- MATERIAL ICONS FULL -->
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet"/>

  <!-- B5 CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <!-- CSS CUSTOM -->


</head>

<body>
<app-loading *ngIf="loading"></app-loading>
<div class="container d-flex justify-content-center" *ngIf="!loading">
  <div class="card">
    <div class="card-header">
      <h2 class="text-center">Iniciar Sesión</h2>
    </div>
    <div class="card-body d-flex flex-column align-items-center">
      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="form-group">
          <mat-form-field>
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput type="text" name="nombreUsuario" id="nombreUsuario" [(ngModel)]="nombreUsuario" required>
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>



        <div class="form-group">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" id="password" [(ngModel)]="password" required>
            <mat-icon matSuffix (click)="togglePasswordVisibility()" [ngClass]="{'active': !hidePassword}" style="cursor: pointer;">
              {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </mat-form-field>
        </div>




        <div class="form-group text-center">
          <button mat-raised-button color="primary" [disabled]="!f.valid" type="submit">
            <mat-icon>account_circle</mat-icon> Iniciar Sesión
          </button>


        </div>

      </form>
    </div>

    <div class="card-footer">
      <div class="text-center">
        <p class="mb-0"></p>
        <button mat-button color="primary" routerLink="/registro" class="hover-button">
          <mat-icon>person_add</mat-icon> Registrarse
        </button>
      </div>
      <div class="text-center">
        <p class="mb-0"></p>
        <button mat-button color="warn" routerLink="/sendemail" class="hover-button">
          <mat-icon>mail</mat-icon> Recuperar Contraseña
        </button>
      </div>
    </div>



  </div>
</div>


</body>

</html>


