/* Estilos para la sección de reserva */
.booking {
  background-color: #007bff;
  border-radius: 10px;
  padding: 20px;
}

.booking h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 20px;
}

.booking h6 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.booking p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 20px;
}

.booking a {
  color: #fff;
  text-decoration: none;
}

.booking .form-control {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  box-shadow: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.3s ease;
}

.booking .form-control:focus {
  border-color: #fff;
  box-shadow: none;
  outline: none;
}

.booking .form-floating label {
  color: #fff;
}

.booking .form-select {
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #fff;
  box-shadow: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.3s ease;
}

.booking .form-select:focus {
  border-color: #fff;
  box-shadow: none;
  outline: none;
}

.booking textarea.form-control {
  height: 100px;
  resize: none;
}

.booking button[type="submit"] {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 1rem;
  padding: 0.75rem;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.booking button[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.booking button[type="submit"]:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  color: #fff;
  outline: none;
}



/*** Booking ***/
.booking {
  background: linear-gradient(rgba(15, 23, 43, .7), rgba(15, 23, 43, .7));
  background-size: cover;
}

