

<app-menu></app-menu>


<div class="container">
  <div class="row mt-5" *ngIf="category">
    <div class="col-md-4 mx-auto">
      <div class="card" style="width: 18rem;">
        <div class="card-header text-center">
          Detalle
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Nombre: </b>{{ category.name }}</li>
        </ul>
        <div class="card-footer">
          <button class="btn btn-outline-primary btn-block" (click)="volver()"><i
            class="fas fa-arrow-alt-circle-left"></i> Volver
          </button>
        </div>
      </div>

    </div>
  </div>
</div>



