<!--<div class="create-flight">
  <h2>Create Flight</h2>
  <form (submit)="updateFlight()">
    <div>
      <label>Capacity:</label>
      <input type="number" [(ngModel)]="capacidad" name="capacity" required>
    </div>
    <div>
      <label>Duration:</label>
      <input type="text" [(ngModel)]="duracion" name="duration" required>
    </div>
    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="precio" name="price" required>
    </div>
    <div>
      <label>Departure Time:</label>
      <input type="text" [(ngModel)]="horaSalida" name="departureTime" required>
    </div>
    <div>
      <label>Itinerary:</label>

      <input type="number" [(ngModel)]="itineraryId" name="itineraryId" required>

    </div>

    &lt;!&ndash; update-flight.component.html &ndash;&gt;
    <div>
      <label>Image:</label>
      <input type="file" (change)="onFileSelected($event)" name="file" accept="image/*" required>
      <span class="selected-file" *ngIf="flightImageURL">{{ flightImageURL }}</span>
    </div>






    <div class="button-group">
      <button type="submit" mat-raised-button color="primary" [disabled]="!formularioValido()">Create</button>
      <button mat-raised-button color="accent" (click)="cancel()">cancelar</button>
    </div>
  </form>
</div>-->




<!-- dsddsad-->
<app-loading *ngIf="loading"></app-loading>

<mat-dialog-content *ngIf="!loading">
  <h2 mat-dialog-title class="title-style">Nuevo Vuelo</h2>

  <form (submit)="updateFlight()">
    <div class="product-container">
      <mat-form-field>
        <mat-label>Capacidad:</mat-label>
        <input matInput placeholder="Capacidad" type="number" [(ngModel)]="capacidad" name="capacity" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Duración:</mat-label>
        <input matInput placeholder="Duración" [(ngModel)]="duracion" name="duration" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Precio:</mat-label>
        <input matInput placeholder="Precio" type="number" [(ngModel)]="precio" name="price" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hora de Salida:</mat-label>
        <input matInput placeholder="Hora de Salida" [(ngModel)]="horaSalida" name="departureTime" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Itinerario:</mat-label>
        <input matInput placeholder="Itinerario" type="number" [(ngModel)]="itineraryId" name="itineraryId" required />
      </mat-form-field>

      <div>
        <mat-label>Foto:</mat-label>
        <label for="file-upload" class="subir">
          Subir archivo
        </label>

        <input
          id="file-upload"
          accept="image/png, image/jpeg"
          (change)="onFileSelected($event)"
          type="file"
          class="input-file"
          name="file"
        />
        <span>{{ imagen ? imagen.name : '' }}</span>
      </div>
    </div>

    <br>
    <mat-dialog-actions>
      <button type="submit" mat-button color="primary" [disabled]="!formularioValido()">
        <mat-icon>save</mat-icon>Actualizar
      </button>
      <button mat-button color="primary" (click)="cancel()">
        <mat-icon>cancel</mat-icon>Cancelar
      </button>

    </mat-dialog-actions>
  </form>
</mat-dialog-content>



