

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Estilo general del navbar */
mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1976d2; /* Color primario del navbar */
  position: sticky;
  top: 0;
  z-index: 999;
}

/* Estilo de la marca */
.navbar-brand {
  font-size: 36px;
  font-weight: 700;
  color: white;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 5px;
  text-decoration: none;
}

.navbar-brand img {
  height: 30px;
  margin-right: 5px;
}

.navbar-brand span {
  color: orange;
}

/* Estilo de los ítems del navbar */
/* Estilo de los ítems del navbar */
.mat-button {
  font-size: 16px;
  font-weight: 550;
  color: white;
  letter-spacing: 1px;
  border-radius: 3px;
  text-decoration: none;
  padding: 8px 15px;
  transition: 0.5s ease;
}

.mat-button:hover {
  background: orange;
  color: white;
}

/* Estilo del campo de búsqueda */
mat-form-field {
  margin-left: 15px;
}

mat-form-field input {
  color: white;
}

/* Estilo del botón "Listar compras" */
.home button[mat-raised-button] {
  margin-left: 15px;
  background: orange;
  color: white;
  border: none;
  margin-bottom:50px;
}

.home .content h1{
  margin-bottom:60px;
}
.spacer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.mat-toolbar .mat-button-wrapper {
  display: flex;
  justify-content: center;
}

.logout-button {
  left: 10px;
  background-color: red; /* Cambiar el color de fondo a rojo */
}



.changecontent::after{
  content: ' ';
  color: #ffa500;
  text-shadow: 1px 1px 1px black;
  animation: changetext 10s infinite linear;
}

@keyframes changetext{
  0%{content: "Francia";}
  10%{content: "España";}
  20%{content: "Estados Unidos";}
  30%{content: "China";}
  40%{content: "India";}
  50%{content: "Pakistan";}
  60%{content: "Italia";}
  70%{content: "Turquia";}
  80%{content: "Mexico";}
  90%{content: "Alemania";}
  100%{content: "Inglaterra";}
}
/* Home */
.home {
  width: 100%;
  height: auto;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-viaje-realista-elementos_52683-77784.jpg?w=1380&t=st=1691713228~exp=1691713828~hmac=5766b412721ae7600ac0cb01a4a40e2da7183f3a9eceee435b7ba042ce2f12b8");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .content{
  text-align: center;
  padding-top: 200px;
}
.home .content h5{
  color: white;
  font-size: 38px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
}
.home .content h1{
  color: white;
  font-size: 70px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}
.home .content p{
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 30px;
  margin-top: 5px;
}

.home .content a{
  padding: 10px;
  background: white;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}
.home .content a:hover{
  background: #ffa500;
  color: white;
}
@media (max-width: 850px){
  .home{
    background-position: 50%;
  }
}
@media (max-width: 450px){
  .home .content h5{
    font-size: 25px;
  }
  .home .content h1{
    font-size: 38px;
  }
  .home .content p{
    font-size: 13px;
  }
}


.home .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.home .card1 {
  flex: 1;
  max-width: 300px;
  margin-right: 20px;

}

.home .image-container {
  position: relative;
  text-align: center;
  flex-direction: row;
}

.home .image-container img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  flex-direction: row;
}

.home .button {
  position: absolute;
  bottom: 3px;
  right: 20px;
  padding: 5px;
  flex-direction: row;
}

.home .spacer {
  margin-right: 25px;
}
/* RESPONSIVE CAMVIO DE ZOOM */
@media (max-width: 1280px) and (max-height: 720px) {
  .home .horizontal-cards-container {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 960px;
    margin: 0 auto;
  }

  .home .mat-card {
    flex: 1 1 calc(33.33% - 20px);
    margin: 10px;
  }
}

/* END HOMME */



/* PAQUETES */
.packages{
  width: 100%;
  height: 100vh;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-viaje-diseno-plano_23-2148050086.jpg?w=1380&t=st=1691713678~exp=1691714278~hmac=b18635ea00cda15a713735483df24e99e0abc60309e281b93e7c079fc912f7ed");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 60px;
  text-align: center;
}

.packages .container {
  max-width: 1000px;
  margin: 0 auto;
}

.packages h1{
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0px 5px 3px rgb(8, 32, 255);
  font-size: 70px;
}


.packages h1 span{
  color: #ffa500;

}

.packages main-txt h1{
  font-size: 28px;
  color: #ffffff;
}
.packages main-txt{
  margin-bottom: 20px;
}

.packages .flight-image-container {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.packages .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #f5f5f5;

}

.packages .flight-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.packages .flight-card {
  flex: 1 1 calc(33.33% - 20px);
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.packages .flight-image {
  width: 100%;
  height: auto;
  max-height: 150px;
}

.packages .star-rating {
  display: flex;
  gap: 5px;
  color: gold;
}

.packages h6 {
  margin-top: 15px;
  font-size: 1.2rem;
}

.packages a {
  display: block;
  text-align: center;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.packages a:hover {
  background-color: #0056b3;
}
/* END PAQUETES */

/* SERVICIOS  */
.services {
  width: 100%;
  height: 100vh;
  background-image: url("https://img.freepik.com/psd-premium/vista-superior-concepto-viaje-camara_23-2148539012.jpg?w=1380");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 60px;
  text-align: center;
}

.service-card .text-center h3{
  color: #e9c914c9;
  font-size: 24px;
  margin-top: 70px;
}


.service-card {
  flex: 1; /* Distribuye el espacio disponible de manera uniforme */
  max-width: 250px; /* Ajusta según tus necesidades */
  height: 150px;
  margin: 10px; /* Ajusta según tus necesidades */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.services .service-icon {
  font-size: 25px;
  color: rgba(49, 81, 224, 0.897);
}

.services .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

.services .main-txt {
  text-align: center;
  padding-top: 10px;
  color: #0056b3;

}

.services h1 span{
  color: #ffa500;

}

.services .main-txt h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0px 5px 3px rgb(8, 32, 255);
  font-size: 80px;
}

.services .row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 50px;

}

.services .card-body h3 {
  font-size: 1.2rem;
}



/* END SERVICES */
/* GALERY */
/* Estilos para la galería */
.gallary {
  width: 100%;
  height: 100vh;
  background-image: url("https://img.freepik.com/vector-gratis/dibujado-mano-viajes-fondo-azul_23-2149033527.jpg?w=1380&t=st=1691713723~exp=1691714323~hmac=4db024ad21fb4fff4c18f33024dea0fabdae771ddf845bd7c361c623513e380e");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 40px 0;
}

.gallary .row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px; /* Ajusta el valor según tus necesidades */
  margin: 0 auto; /* Centra la fila en la página si es necesario */
}

.gallary .container {
  flex-basis: 33.33%;
  padding-top: 0.75rem; /* Ajusta el valor según tu preferencia */
  padding-bottom: 0.75rem; /* Ajusta el valor según tu preferencia */
  padding-top: 0;
  padding-bottom: 0;
}

/* Estilos para las tarjetas de la galería */
.gallery-card {
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(2.2);
  }

}

/* Estilos para el contenedor de la imagen */
.gallary .image-container {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f0f0; /* Cambia este color de fondo según tus preferencias */
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 190px;
}

/* Estilos para las imágenes dentro del contenedor */
.gallary .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallary h1 span{
  color: #ffa500;

}

.matimagen {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.gallary .main-txt h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0px 5px 3px rgb(8, 32, 255);
  font-size: 70px;
}


/* END GALERY */
/* ABOUT */

.about {
  width: 100%;
  height: 100vh;
  background-size: cover;
  text-align: center;
  padding: 60px 0;
  background-image: url("https://img.freepik.com/foto-gratis/concepto-viaje-puntos-referencia_23-2149153256.jpg?w=1380&t=st=1691713785~exp=1691714385~hmac=51de47d48d6f4de0e39fefb5cf447f70a1c8f54ce6cb2914f3297b91b542f395");
  display: flex; /* Agregado */
  align-items: center; /* Agregado */
}



.about .content{
  width: 50%; /* La columna ocupará la mitad del ancho del contenedor */
  flex: 0 0 50%;
  padding-top: 0.75rem; /* 12px */
  padding-bottom: 0.75rem;
  padding-top: 0;
  padding-bottom: 0;
}
.about h1 span{
  color: #ffa500;

}

.about .mat-card-header{
  align-content: center;
}
.about .main-txt h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 0px 5px 3px rgb(8, 32, 255);
  font-size: 70px;
  align-items: center;
}

.about .mat-card {
  background-color: transparent;
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 5px;
  padding: 40px;
}

.about h1{
  font-size: 50px;
  margin-bottom: 40px;
  color: #1c38d6;
  right: 50px;
  text-align: center;
  right: 50px;
}

.about p {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  color: #0c0c0c;
}

#about-btn {
  font-size: 18px;
  padding: 12px 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#about-btn:hover {
  background-color: #0056b3;
}

#about-btn:focus {
  outline: none;
}

.about .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* END ABOUT */


/* FOOTER */
#footer{
  width: 100%;
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}
.footer-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#footer h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

#footer h1 span {
  color: #007bff;
}

.social-links a {
  font-size: 24px;
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-links a:hover {
  color: #007bff;
}

.copyyright p {
  font-size: 14px;
  margin-top: 20px;
}

.fa-brands:before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
}

@media (max-width: 768px) {
  #footer {
    padding: 20px 0;
  }
}
