*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Arvo', serif;
}
html::-webkit-scrollbar-track{
  background: transparent;
}

.reserva {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.card1 {
  width: 200px; /* Ajusta el tamaño deseado */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
}

.card1 img {
  width: 100%;
  height: auto;
}


button {
  transition: background-color 0.2s ease;
}

.titulo-reserva {
  font-size: 24px; /* Tamaño de fuente */
  color: #3f51b5; /* Color del texto */
  text-transform: uppercase; /* Convertir el texto a mayúsculas */
  font-weight: bold; /* Texto en negrita */
  margin: 0; /* Espaciado cero */
  padding: 5px 0; /* Espaciado superior e inferior */
  border-bottom: 2px solid #3f51b5; /* Línea inferior */
}

.image-container {
  position: relative;
  display: inline-block;
  border: 10px solid #fff; /* Agregar marco blanco a la imagen */
  border-radius: 5px; /* Ajustar según prefieras */
  overflow: hidden; /* Para asegurar que el marco contenga la imagen */
}

.image-container img {
  width: 100%;
  height: auto;
}

/* Estilos para el botón dentro de la imagen */
.image-container button {
  position: absolute;
  bottom: 5px; /* Alinear el botón en el lado inferior */
  right: 5px; /* Alinear el botón al lado derecho */
  z-index: 1;
}
//botones
.custom-button {
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.separated-button {
  margin-left: 30px;
}

div.btn-item-left {
  left: 10px;

}

.custom-button:hover {
  background-color: #ff5722;
}

//asd
.imagen {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: -20px;
}




//dsd

html::-webkit-scrollbar-thumb{
  background: #ffa500;
  border-radius: 10px;
}
html::-webkit-scrollbar{
  width: 10px;
}
body{
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/09/16/architecture-1868667_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
/* Header Start */

nav.navbar {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
#navbar{
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}


#logo{
  font-size: 36px;
  font-weight: 700;
  color: black;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 5px;
}
#logo span{
  color: orange;
}
.navbar-toggler span{
  color: orange;
  outline: none;
}
.navbar-nav{
  margin-left: 20px;
}
.nav-item .nav-link{
  font-size: 16px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease;
}
.nav-item .nav-link:hover{
  background: orange;
  color: white;
}
#navbar form button{
  background: orange;
  color: white;
  border: none;
}
/* Header End */
.logo-img {
  max-width: 100px;
  height: auto;
}
.main-txt {
  text-align: center;
  padding-top: 30px;
}

.main-txt h1 {
  font-size: 36px;
  font-weight: bold;
  color: #ff4500; /* Color naranja llamativo */
  text-transform: uppercase;
  letter-spacing: 2px;
}

.main-txt h1 span {
  display: block;
  font-size: 24px;
  color: #333; /* Color de texto oscuro */
}

.main-txt h1 span::before {
  content: "\2022"; /* Agrega un punto de bala antes del texto */
  color: #ff4500; /* Color naranja */
  margin-right: 10px;
}

.main-txt h1 span::after {
  content: "\2022"; /* Agrega un punto de bala después del texto */
  color: #ff4500; /* Color naranja */
  margin-left: 10px;
}

/* Home Content Start   */

.home {
  width: 100%;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/11/29/09/16/architecture-1868667_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.home .content{
  text-align: center;
  padding-top: 200px;
}
.home .content h5{
  color: white;
  font-size: 38px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
}
.home .content h1{
  color: white;
  font-size: 70px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}
.home .content p{
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 30px;
  margin-top: 5px;
}
.changecontent::after{
  content: ' ';
  color: #ffa500;
  text-shadow: 1px 1px 1px black;
  animation: changetext 10s infinite linear;
}
@keyframes changetext{
  0%{content: "Francia";}
  10%{content: "España";}
  20%{content: "Estados Unidos";}
  30%{content: "China";}
  40%{content: "India";}
  50%{content: "Pakistan";}
  60%{content: "Italia";}
  70%{content: "Turquia";}
  80%{content: "Mexico";}
  90%{content: "Alemania";}
  100%{content: "Inglaterra";}
}
.home .content a{
  padding: 10px;
  background: white;
  color: black;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}
.home .content a:hover{
  background: #ffa500;
  color: white;
}
@media (max-width: 850px){
  .home{
    background-position: 50%;
  }
}
@media (max-width: 450px){
  .home .content h5{
    font-size: 25px;
  }
  .home .content h1{
    font-size: 38px;
  }
  .home .content p{
    font-size: 13px;
  }
}
/* Home Content End   */
.book{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  background: #f9f9f9;
  padding: 100px 10% 120px;
}
.book-img img{
  background: white;
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px black;
  width: 100%;
  display: block;
}
.book-form form{
  position: relative;
}
.book-form form input,
form textarea{
  width: 100%;
  padding: 15px;
  background: white;
  color: black;
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px black;
  margin-bottom: 10px;
}
.book-form textarea{
  resize: none;
  height: 200px;
}
.book-form .submit{
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  background: orange;
  width: 160px;
  transition: 0.5s ease;
  cursor: pointer;
}
.book-form .submit:hover{
  width: 175px;
}
@media (max-width:920px){
  .book{
    grid-template-columns: 1fr;
    max-width: 100%;
  }
}

/* Packages Start */
.packages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2017/01/20/00/30/maldives-1993704_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  width: 300px; /* Ajusta el tamaño deseado */
  border-radius: 5px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
  margin: 20px;
}

.card img {
  width: 100%;
  height: 200px; /* Ajusta la altura deseada */
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card .card-body {
  padding: 15px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star i {
  font-size: 15px;
  color: #ff4500;
}

.checked {
  color: orange;
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 10px 0;
}

.card p {
  font-weight: 600;
  letter-spacing: 1px;
  color: #777;
}

.card h6 {
  font-size: 18px;
  font-weight: 600;
  margin: 15px 0;
}

.card a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background: orange;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card a:hover {
  background-color: #ff6600;
}
/* Packages End */

/* Services Start */
.services{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2018/11/29/21/19/hamburg-3846525_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.services .card{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  cursor: pointer;
}
.services .card i{
  font-size: 80px;
  text-align: center;
  color: orange;
  margin-top: 20px;
}
.services .card .card-body h3{
  font-weight: 700;
}
/* Services End */



/* Gallary Start */
.gallary{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2018/01/31/12/16/architecture-3121009_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.gallary .card{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}
.gallary .card img{
  border-radius: 10px;
  transition: 0.5s ease;
}
.gallary .card:hover img{
  transform: scale(1.1);
}
/* Gallary End */





/* About Start */
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('https://cdn.pixabay.com/photo/2017/06/05/11/01/airport-2373727_1280.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.about .card{
  border-radius: 10px;
}
.about .card img{
  border-radius: 10px;
}
.about h2{
  font-weight: 600;
  letter-spacing: 1px;
}
.about p{
  font-size: 500px;
}
#about-btn{
  width: 150px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background: #ffa500;
  color: white;
  letter-spacing: 2px;
  font-weight: 550;
  transition: 0.5s ease;
  cursor: pointer;
}
#about-btn:hover{
  width: 170px;
}
/* About End */





/* Reviews Start */
.review{
  padding: 100px 10% 120px;
  background: white;
}
.review-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.box{
  background: #f9f9f9;
  padding: 35px 45px;
  height: 50vh;
  border-radius: 8px;
  transition: 0.5s ease;
  text-align: center;
}
.img img{
  width: 100px;
  border-radius: 100px;
}
@media (max-width:920px){
  .services-content{
    grid-template-columns: 1fr;
  }
}
@media (max-width:550px){
  .service a{
    display: block;
    margin-top: 10px;
  }
}
/* Reviews Start */


/* Estilos específicos para la sección */


h2 {
  font-size: 24px;
  font-weight: bold;
  color: #c6fa0b;
  margin-bottom: 10px;
}


/* Footer Start */
#footer{
  width: 100%;
  text-align: center;
  background: #f9f9f9;
}

#footer h1{

  padding-top: 30px;
  text-shadow: 0px 0px 1px black;
}

#footer h1 span{
  color: #ffa500;
}
.social-links i{
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  background: black;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}
.social-links i:hover{
  background: #ffa500;
}
/* Footer End */
