

<section class="purchase">
  <div class="container">
    <h2>Realizar compra</h2>
    <form (ngSubmit)="comprarVuelo()" class="purchase-form">
      <div class="form-group">
        <mat-form-field>
          <mat-label>Cantidad:</mat-label>
          <input matInput type="number" name="amount" [(ngModel)]="amount" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Precio:</mat-label>
          <input matInput type="number" name="flightPrice" [(ngModel)]="flightPrice" required disabled>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>ID del vuelo:</mat-label>
          <input matInput type="number" name="flightId" [(ngModel)]="flightId" required disabled>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-label>Imagen del vuelo:</mat-label>
        <img [src]="flightImage" alt="Flight Image" class="flight-image">
      </div>
      <button mat-raised-button type="submit" routerLink="/pagar" class="submit-button">PAGAR ...</button>
    </form>
  </div>
</section>
