
.purchase {
  background-color: #85BB65;
  padding: 20px;
}

.container {
  background-size: cover;
  background-position: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.purchase-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.flight-image {
  width: 200px; /* Cambia este valor al ancho deseado */
  height: auto; /* Esto mantiene la proporción original de la imagen */
}


.hidden {
  display: none;
}

.flight-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-button {
  background-color: #1976d2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #1565c0;
}

.mat-label{
  color: red;
}
